body {
  font-family: 'Agbalumo', serif;
}

.navbar-brand {
  font-family: 'Agbalumo', serif;
  font-weight: 900;
  font-size: 36px;
}

.jumbotron {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  background-color: var(--bs-light);
  border-radius: .3rem;
}

.blog-post {
  margin-bottom: 30px;
}

.blog-post-title {
  font-size: 30px;
}

footer {
  background: #f9f9f9;
  padding-top: 40px;
  padding-bottom: 40px;
}
